:root {
    --toc-width: 270px;
}

.nav-chapters {
    /* adjust width of buttons that bring to the previous or the next page */
    min-width: 50px;
}

.previous {
    /*
    adjust the space between the left sidebar or the left side of the screen
    and the button that leads to the previous page
    */
    margin-left: var(--page-padding);
}

#content-toc-wrap {
    display: grid;
    grid-template-columns: 1fr minmax(0, var(--content-max-width)) 1fr;
    /* For @container query below */
    container-type: inline-size;
    container-name: content;
}

main {
    display: flex;
    grid-column: 2;
}

@container content (max-width: 1040px) {
    .sidetoc {
        display: none;
    }

    #content-toc-wrap {
        display: block;
    }
}

.content-wrap {
    overflow-y: auto;
    width: 100%;
}

.sidetoc {
    grid-column: 3;
    width: var(--toc-width);
    margin-top: 20px;
    margin-left: 10px;
    margin-right: auto;
}

.pagetoc {
    position: fixed;
    /* adjust TOC width */
    width: var(--toc-width);
    height: calc(100vh - var(--menu-bar-height) - 0.67em * 4);
    overflow: auto;
}

.pagetoc a {
    border-left: 1px solid var(--sidebar-bg);
    color: var(--fg) !important;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    text-align: left;
    text-decoration: none;
    font-weight: normal !important;
}
.pagetoc a:hover,
.pagetoc a.active {
    background: var(--sidebar-bg);
    color: var(--sidebar-fg) !important;
}
.pagetoc .active {
    background: var(--sidebar-bg);
    color: var(--sidebar-fg);
}
.pagetoc .pagetoc-H2 {
    padding-left: 20px;
}
.pagetoc .pagetoc-H3 {
    padding-left: 40px;
}
.pagetoc .pagetoc-H4 {
    padding-left: 60px;
}

@media print {
    .sidetoc {
        display: none;
    }
}
